<!DOCTYPE html>
<html>
<head>
    {include 'htmlHead.latte'}
</head>
<body class="hold-transition skin-blue sidebar-mini" data-basePath="{$basePath}">
    <div class="wrapper">
        {include 'header.latte'}
        {include 'sideBar.latte'}

        {snippet flashes}
            <div class="flashes card slide">
                <div class="container">
                    <div n:foreach="$flashes as $flash" n:class="alert, flash, $flash->type">{$flash->message}</div>
                </div>
            </div>
        {/snippet}

        <script type="text/javascript">
            var CKEDITOR_BASEPATH = {$basePath} + '/assets/admin/libs/ckeditor/';
        </script>
        {snippet content}
            {include content}
        {/snippet}

        {include 'footer.latte'}

        {include 'controlSideBar.latte'}

        {block scripts}
            {control js}
            <script type="text/javascript">
                $(function () {
                    $.nette.init();
                });
            </script>
        {/block}
    </div>
</body>
</html>
